h1 {
  margin: 100px auto 30px;
  font-size: 5em;
  text-align: center;
  color: rgb(1, 143, 244);
}

h2 {
  margin: 0 auto 30px;
  font-size: 3em;
  text-align: center;
  width: 300px;
  background-color: rgb(1, 143, 244);
  color: rgb(248, 248, 81);
}

.year {
  background-color: rgb(248, 248, 81);
  color: rgb(1, 143, 244);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 40vh;
}

.heart {
  position: relative;
  width: 100px;
  height: 90px;
  animation: animateHeart 2s ease-in-out infinite;
}

.heart:before,
.heart:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50px;
  width: 50px;
  height: 80px;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  background-color: rgb(248, 248, 81);
}

.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
  background-color: rgb(1, 143, 244);
}

@keyframes animateHeart {
  0%,
  100% {
    transform: scale(3);
    animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  }
  50% {
    transform: scale(2);
    animation-timing-function: cubic-bezier(0, 0.12, 0, 1);
  }
  25% {
    transform: scale(1);
    animation-timing-function: cubic-bezier(0, 0.12, 0, 1);
  }
}
